body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}


.home {
  
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-size: 20px;
    margin-bottom: 1rem;
  
}
nav {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  justify-content: center;
  gap: 10rem;
  align-items: center;
  background-color: #48618b;
  color: #fff;
  padding: 1rem;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
}
nav a:hover {
  text-decoration: underline;
}
main {
  padding: 9rem;
  background-color: white;
}
.footer {
  background-color: #48618b;
  color: #fff;
  padding: 20px;
  font-size: 1.2rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
  
h1 , h3 {
  text-shadow: 2px 2px 4px #999; 
}
/* gotoapps css */

.go-to-apps-container {
  text-align: center;
}
.heading {
  font-size: 24px;
  margin-bottom: 20px;
}
.app-icons {
  display: flex;
  justify-content: center;
  gap: 15rem;
  padding: 5rem;
}
.app-icons div {
  margin: 0 10px;
}
.app-icon {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;
}
.app-icon:hover {
  transform: scale(1.1);
}


.home-container {
  font-size: 18px;
}



